<%= simple_form_for @staff, html: {role: "form"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :ci %>
      </div>
      <div class="col-md-4">
        <%= f.input :name %>
      </div>
      <div class="col-md-4">
        <%= f.input :lastname %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :email %>
      </div>
      <div class="col-md-4">
        <%= f.input :phone1 %>
      </div>
      <div class="col-md-4">
        <%= f.input :phone2 %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :degree, as: :select, collection: DEGREES, :prompt => 'Selecione opción' %> 
      </div>
      <div class="col-md-4">
        <%= f.input :workstation, as: :select, collection: WORKSTATIONS, :prompt => 'Selecione opción' %> 
      </div>
      <div class="col-md-4">
        <%= f.input :department, as: :select, collection: DEPARTMENTS, :prompt => 'Selecione opción' %> 
      </div>
    </div>
    
    <%= f.input :available %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
    <%= link_to 'Cancelar', staffs_path, class: "btn btn-default" %>
  </div>
<% end %>
