<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Empleado</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', staff: @staff %>
  </div>
</div>