<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">Todos los empleados</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Céluda</th>
          <th>Nombre Completo</th>
          <th>Correo</th>
          <!-- <th>Teléfono</th> -->
          <th>Celular</th>
          <!-- <th>Titulo</th> -->
          <!-- <th>Puesto T.</th> -->
          <th>Departamento</th>
          <th>Disponible</th>
          <th style="min-width: 98px">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @staffs.each do |staff| %>
          <tr>
            <td><%= staff.ci %></td>
            <td><%= staff.full_last_name %></td>
            <td><%= staff.email.present? ? staff.email : "N/A" %></td>
            <!-- <td><%= staff.phone1 %></td> -->
            <td><%= staff.phone2.present? ? staff.phone2 : "N/A" %></td>
            <!-- <td><%= staff.degree %></td> -->
            <!-- <td><%= staff.workstation %></td> -->
            <td><%= staff.department.present? ? staff.department.capitalize : "N/A" %></td>
            <td><%= staff.available_to_s %></td>
            <td><%= link_to_show staff %>
            <%= link_to_edit staff, edit_staff_path(staff) %>
            <%= link_to_delete staff %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'Nuevo Empleado', new_staff_path, class: "btn btn-default" %>
