<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Automóvil</h3>
  </div>
  <div class="panel-body">
    <p>
		  <strong><%= Staff.human_attribute_name("ci") %>:</strong>
		  <%= @staff.ci %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("name") %>:</strong>
		  <%= @staff.name %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("lastname") %>:</strong>
		  <%= @staff.lastname.capitalize if @staff.lastname %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("email") %>:</strong>
		  <%= @staff.email.capitalize if @staff.email%>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("phone1") %>:</strong>
		  <%= @staff.phone1 %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("phone2") %>:</strong>
		  <%= @staff.phone2 %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("degree") %>:</strong>
		  <%= @staff.degree %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("workstation") %>:</strong>
		  <%= @staff.workstation %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("department") %>:</strong>
		  <%= @staff.department %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("available_to_s") %>:</strong>
		  <%= @staff.available_to_s %>
		</p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_staff_path(@staff), class: "btn btn-success" %>
  <%= link_to 'Lista de Empleados', staffs_path, class: "btn btn-default" %>
</div>


