<%= simple_form_for @van, html: {role: "form"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="row">
      <div class="col-md-4">
        <%= f.input :plate %>
      </div>
      <div class="col-md-4">
        <%= f.input :status, as: :select, collection: CAR_STATUS, :prompt => 'Selecione opción' %> 
      </div>
      <div class="col-md-4">
        <%= f.input :color, as: :select, collection: CAR_COLORS, :prompt => 'Selecione opción' %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :company, as: :select, collection: CAR_COMPANY, :prompt => 'Selecione opción' %> 
      </div>
      <div class="col-md-4">
        <%= f.input :model, as: :select, collection: CAR_MODEL, :prompt => 'Selecione opción' %> 
      </div>
      <div class="col-md-4">
        <%= f.input :year, as: :select, collection: CAR_YEAR, :prompt => 'Selecione opción' %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :driver_id, as: :select, collection: @all_drivers.map{|d| [d.full_name, d.id]} %> 
      </div>

      <div class="col-md-4">
        <%= f.input :capacity, as: :select, collection: CAR_CAPACITY %> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :description %> 
      </div>
      
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
    <%= link_to 'Cancelar', vans_path, class: "btn btn-default" %>
  </div>
<% end %>
