<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Todas las Furgonetas</div>


  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <thead>
          <tr>
            <th>Placa</th>
            <th>Chofer</th>
            <th>Estado</th>
            <th>Color</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Nro. Pasajeros</th>
            <th style="min-width: 98px">Acciones</th>
          </tr>
        </thead>
      </thead>

      <tbody>
        <% @vans.each do |van| %>
          <tr>
            <td><%= van.plate %></td>
            <td><%= van.driver ? van.driver.full_name : "No asignado" %></td>
            <td><%= van.status_name %></td>
            <td><%= van.color.capitalize %></td>
            <td><%= van.company.capitalize %></td>
            <td><%= van.model.capitalize %></td>
            <td><%= van.year %></td>
            <td><%= van.capacity %></td>
            <td>
              <%= link_to_show van %>
              <%= link_to_edit van, edit_van_path(van) %>
              <%= link_to_delete van %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Nueva Furgoneta', new_van_path, class: "btn btn-default" %>
