<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Furgoneta</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', van: @van %>
  </div>
</div>

