<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Furgoneta</h3>
  </div>
  <div class="panel-body">
    <p>
		  <strong><%= Van.human_attribute_name("plate") %>:</strong>
		  <%= @van.plate %>
		</p>

		<p>
		  <strong><%= Van.human_attribute_name("driver") %>:</strong>
		  <%= @van.driver ? @van.driver.full_name : "No asignado" %>
		</p>

		<p>
		  <strong><%= Van.human_attribute_name("color") %>:</strong>
		  <%= @van.color.capitalize %>
		</p>

		<p>
		  <strong><%= Van.human_attribute_name("company") %>:</strong>
		  <%= @van.company.capitalize %>
		</p>

		<p>
		  <strong><%= Van.human_attribute_name("model") %>:</strong>
		  <%= @van.model.capitalize %>
		</p>

		<p>
		  <strong><%= Van.human_attribute_name("year") %>:</strong>
		  <%= @van.year %>
		</p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_van_path(@van), class: "btn btn-success" %>
  <%= link_to 'Lista de furgonetas', vans_path, class: "btn btn-default" %>
</div>

