<p id="notice"><%= notice %></p>

<h1>Empleados</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">Lista de Automoviles disponibles</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Céluda</th>
          <th>Nombre Completo</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Celular</th>
          <th>Titulo</th>
          <th>Puesto T.</th>
          <th>Departamento</th>
          <th>Disponible</th>
          <th>Tipo de Licencia</th>
          <th style="min-width: 98px">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.ci %></td>
            <td><%= employee.full_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.phone1 %></td>
            <td><%= employee.phone2 %></td>
            <td><%= employee.degree %></td>
            <td><%= employee.workstation %></td>
            <td><%= employee.department %></td>
            <td><%= employee.available %></td>
            <td><%= employee.license_type %></td>
            <td><%= link_to_show employee %>
            <%= link_to_edit edit_employee_path(employee) %>
            <%= link_to_delete employee %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'Nuevo Empleado', new_employee_path, class: "btn btn-default" %>
