<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Empleado</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', employee: @employee %>
  </div>
</div>