<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @employee.ci %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @employee.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @employee.phone2 %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @employee.degree %>
</p>

<p>
  <strong>Workstation:</strong>
  <%= @employee.workstation %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Available:</strong>
  <%= @employee.available %>
</p>

<p>
  <strong>License type:</strong>
  <%= @employee.license_type %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
