<div class="top-menus">
	<ul class="list-group">
		<li class="list-group-item">
			<% if current_user.avatar.present?  %>
				<img src="<%= current_user.avatar.url %>">
			<% else %>
				<img src="/images/user.png">
			<% end %>
			
		</li>
		
	  <li class="list-group-item">
	  	<%= link_to 'Mi cuenta', edit_user_registration_path %>
	  </li>
	  <li class="list-group-item">
	  	<%= link_to "Mis programas <span class='badge'>#{@my_events}</span>".html_safe, events_path %>
	  </li>
	  
	  <li class="list-group-item">
	  	<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
	  </li>
	  <!-- <a href="/visitors/load_data" data-confirm="Esta seguro?" style="width: 100%" class="btn btn-primary" role="button">
	  	<span style="margin-right: 5px" class='glyphicon glyphicon-cog' aria-hidden='true'></span>
	  	Cargar Datos
	  </a> 	  -->
	</ul>
	<% if current_user.role?(:admin) %>
		<a href="<%= settings_path%>" style="width: 100%" class="btn btn-primary" role="button">
	  	<span style="margin-right: 5px" class='glyphicon glyphicon-cog' aria-hidden='true'></span>
	  	Configuración
	  </a> 
	<% end %>
</div>