<div class="today-events">
	<div class="panel panel-default">
  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	<span style="margin-right: 5px" class='glyphicon glyphicon-time' aria-hidden='true'></span> 
	  	
	  	<%= title %>
	  </div>
	  <div class="table-container">
	  	<table class="table reposive panel-events" style="font-size: 12px">
				<thead>
								    
					<tr>
						<th>
							Titulo
						</th>
						<th>
							Responsble
						</th>
						<th>
							F. Inicio
						</th>
						<th>
							F. Fin
						</th>

						<th>
							Estado
						</th>
						
					</tr>
				</thead>
				<tbody>
					<% if events.any? %>
				  	<%- events.last(10).each do |event| %>
				  		<%- date_format = '%Y-%m-%d' %>
				  		<tr>
								<td>
									<%= "#{event.full_name}"%>
								</td>
								<td>
									<%= "#{event.owner}"%>
								</td>
								<td>
									<%= "#{event.start.strftime(date_format)}"%>
								</td>
								<td>
									<%= "#{event.end.strftime(date_format)}"%>
								</td>
								<td>
									<%= "#{select_name(EVENT_STATUS, event.status)}"%>
								</td>
								
							</tr>
				  	<%- end %>
				  <% else %>
				 	 	<tr>
							<td colspan="4">
								No registra eventos
							</td>
						</tr>
				  <% end %>

					
				</tbody>
		  </table>
	  	
	  </div>
	  

	</div>
</div>