<div class="today-events">
	<div class="panel panel-default">
  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	<span style="margin-right: 5px" class='glyphicon glyphicon-time' aria-hidden='true'></span> 
	  	
	  	<%= title %>
	  </div>
	  <div class="table-container">
	  	<table class="table panel-events" style="font-size: 12px">
				<thead>
				
					<tr>
						<th>
							Nombre
						</th>
						<th>
							Telefono
						</th>
						<th>
							Tipo Vehículo
						</th>
						<th>
							Placa
						</th>
						<th>
							Programas
						</th>
						
					</tr>
				</thead>				    
				<tbody>
					<% if cars.any? %>
				  	<%- cars.last(10).each do |car| %>
				  		<tr>
								<td>
									<%= "#{car.driver ? car.driver.full_name : "N/A"}"%>
								</td>
								<td>
									<%= "#{car.driver ? car.driver.phone1 : "N/A"}"%>
								</td>
								<td>
									<%= "#{car.model_name.human}"%>
								</td>
								<td>
									<%= "#{car.plate}"%>
								</td>
								<td>
									<%- if car.current_event_items.any? %>
										<%- car.current_event_items.each do |event_item|%>
											<%- if event_item.event.present? %>
												<%= event_item.event.present? ? link_to(event_item.event.full_name, event_path(event_item.event)) : "N/A" %>	
												<br/>
											<%- end %>
										<% end %>
									<% else %>
										<strong>Disponible</strong>
									<% end %>
								</td>
								
							</tr>
				  	<%- end %>
				  <% else %>
				 	 	<tr>
							<td colspan="4">
								No registra eventos
							</td>
						</tr>
				  <% end %>

					
				</tbody>
		  </table>
	  	
	  </div>
	  

	</div>
</div>