<div class="row">
	<div class="col-md-12">
		<div class="calendar empty">
		</div>
		<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
</div>
<br/>
<br/>
<div class="row">
	<div class="col-md-12">
		<div class="resources">
			<%= render "table_events", title: "Programas de la semana", events: @weekly_events %>
			<%= render "table_events", title: "Programas de hoy", events: @daily_events %>
			<%= render "table_drivers", title: "Conductores por programa", cars: @all_cars %>
		</div>
	</div>
</div>




