<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Todas los Camiones</div>


  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <thead>
          <tr>
            <th>Placa</th>
            <th>Chofer</th>
            <th>Estado</th>
            <th>Color</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Nro. Pasajeros</th>
            <th>Tecnología</th>
            <th style="min-width: 98px">Acciones</th>
          </tr>
        </thead>
      </thead>

      <tbody>
        <% @trucks.each do |truck| %>
          <tr>
            <td><%= truck.plate %></td>
            <td><%= truck.driver ? truck.driver.full_name : "No asignado" %></td>
            <td><%= truck.status_name %></td>
            <td><%= truck.color.capitalize %></td>
            <td><%= truck.company.capitalize %></td>
            <td><%= truck.model.capitalize %></td>
            <td><%= truck.year %></td>
            <td><%= truck.capacity %></td>
            <td><%= truck.get_tecnologia %></td>
            <td>
              <%= link_to_show truck %>
              <%= link_to_edit truck, edit_truck_path(truck) %>
              <%= link_to_delete truck %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Nuevo Camión', new_truck_path, class: "btn btn-default" %>
