<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Camión</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', truck: @truck %>
  </div>
</div>


