<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Furgoneta</h3>
  </div>
  <div class="panel-body">
    <p>
		  <strong><%= Truck.human_attribute_name("plate") %>:</strong>
		  <%= @truck.plate %>
		</p>

		<p>
		  <strong><%= Truck.human_attribute_name("driver") %>:</strong>
		  <%= @truck.driver ? @truck.driver.full_name : "No asignado" %>
		</p>

		<p>
		  <strong><%= Truck.human_attribute_name("color") %>:</strong>
		  <%= @truck.color.capitalize %>
		</p>

		<p>
		  <strong><%= Truck.human_attribute_name("company") %>:</strong>
		  <%= @truck.company.capitalize %>
		</p>

		<p>
		  <strong><%= Truck.human_attribute_name("model") %>:</strong>
		  <%= @truck.model.capitalize %>
		</p>

		<p>
		  <strong><%= Truck.human_attribute_name("year") %>:</strong>
		  <%= @truck.year %>
		</p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_truck_path(@truck), class: "btn btn-success" %>
  <%= link_to 'Lista de camiones', trucks_path, class: "btn btn-default" %>
</div>

