<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('.sign_in') %></h3>
      </div>
      <div class="panel-body">
        
          
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'user-form'} ) do |f| %>

          <div class="row">
            <div class="col-md-12">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, :class => "form-control"  %>
            </div>
          
            <div class="col-md-12">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
            </div>
            <div class="col-md-12">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
            </div>
            <div class="col-md-12">
              <%= f.submit t('.sign_in'), class: "btn btn-success" %>
            </div>
          <!--   <div class="col-md-12">
              <h3>Mas opciones</h3>
              <%= render "users/shared/links" %>
            </div> -->
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>


