<div id="truck-container" class="content-container">
  <%- if @trucks &&  @trucks.any? %>
    <label class="control-label string"> 
    	Camiones 
    	<span style="margin-right: 5px" class='glyphicon glyphicon-road' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-2"><span class="col">Placa</span></div>
        <div class="col-md-5"><span class="col">Conductor</span></div>
        <div class="col-md-5"><span class="col">Conductor Suplente</span></div>
      </div>
    </label>
    <%- @trucks.each do |event_mobile_unit| %>
      <%= render "mobile_unit_item", :mobile_unit => event_mobile_unit.mobile_unit, :event_mobile_unit => event_mobile_unit %>
    <%- end %>
  <% else %>
    <label class="control-label string" style="display: none"> 
      Camiones 
      <span style="margin-right: 5px" class='glyphicon glyphicon-road' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-2"><span class="col">Placa</span></div>
        <div class="col-md-5"><span class="col">Conductor</span></div>
        <div class="col-md-5"><span class="col">Conductor Suplente</span></div>
      </div>
    </label>
  <% end %>
</div>