<div id="doctor-container" class="content-container">
  <%- if @doctors &&  @doctors.any? %>
    <label class="control-label string"> 
      Doctores 
      <span style="margin-right: 5px" class='glyphicon glyphicon-heart' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-5"><span class="col">Cargo</span></div>
        <div class="col-md-4"><span class="col">Nombre</span></div>
        <div class="col-md-3"><span class="col">Teléfono</span></div>
      </div>
    </label>
    <%- @doctors.each do |employee| %>
      <%= render "employee_item", :employee => employee.employee, :event_employee => employee if employee.employee.present? %>
    <%- end %>
  <% else %>
    <label class="control-label string" style="display: none;"> 
      Doctores 
      <span style="margin-right: 5px" class='glyphicon glyphicon-heart' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-5"><span class="col">Cargo</span></div>
        <div class="col-md-4"><span class="col">Nombre</span></div>
        <div class="col-md-3"><span class="col">Teléfono</span></div>
      </div>

    </label>

  <% end %>
</div>