<div id="staff-container" class="content-container">
  <%- if @staffs &&  @staffs.any? %>
    <label class="control-label string"> 
      Empleados 
      <span style="margin-right: 5px" class='glyphicon glyphicon-user' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-5"><span class="col">Cargo</span></div>
        <div class="col-md-4"><span class="col">Nombre</span></div>
        <div class="col-md-3"><span class="col">Teléfono</span></div>
      </div>
    </label>
    <%- @staffs.each do |employee| %>
      <%= render "employee_item", :employee => employee.employee, :event_employee => employee %>
    <%- end %>
  <% else %>
    <label class="control-label string" style="display: none"> 
      Empleados 
      <span style="margin-right: 5px" class='glyphicon glyphicon-user' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-5"><span class="col">Cargo</span></div>
        <div class="col-md-4"><span class="col">Nombre</span></div>
        <div class="col-md-3"><span class="col">Teléfono</span></div>
      </div>
    </label>
  <% end %>
</div>