<div id="exam-container" class="content-container">
  <%- if @exams &&  @exams.any? %>
    <label class="control-label string"> 
      Exámenes
      <span style="margin-right: 5px" class='glyphicon glyphicon-file' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-12"><span class="col">Nombre</span></div>
      </div>
    </label>
    <%- @exams.each do |exam| %>
      <%= render "exam_item", :exam => exam.exam, :event_exam => exam %>
    <%- end %>
  <% else %>
    <label class="control-label string" style="display: none"> 
      Exámenes
      <span style="margin-right: 5px" class='glyphicon glyphicon-file' aria-hidden='true'></span> 
      <br/>
      <div class="row cols">
        <div class="col-md-12"><span class="col">Nombre</span></div>
      </div>
    </label>
  <% end %>
</div>