<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style=<%= "border-color:#{@event.color};" %>>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Editar Programa 
          <% if @event.created_by %>
            <span class="label label-info"><%= @event.created_by.full_name %></span>
          <% end %>
          <% if @event.closed? %>
            <span class="label label-warning">Cerrado</span>
          <% end %>
        </h4>
      </div>
      <div class="modal-body">
        <%= render 'form', event: @event %>
      </div>
    </div>
  </div>
</div>
