<div class="bs-callout bs-callout-info employee-item" id="<%=employee.id%>">
  <div>
    <div class="row">
      <div class="col-md-5">
        <%- if employee.class.to_s == "Staff" %>
          <%= select_tag "event[employees][][position]", options_for_select(CARGOS_PERSONAL, event_employee ? event_employee.position : nil), :class => "position_employee" %>
        <% elsif employee.class.to_s == "Doctor" %>
          <%= select_tag "event[employees][][position]", options_for_select(CARGOS_DOCTOR, event_employee ? event_employee.position : employee.specialty) , :class => "position_employee" %>
          <!-- <input type="hidden" name="event[employees][][position]" value="<%= employee.specialty %>"> -->
        <% end %>    
      </div>
      <div class="col-md-4">
        <%- if employee.available == false %>
          <strong style="color: #888; font-style: italic;"><%= employee.full_name %></strong>
        <%- else %>
          <strong><%= employee.full_name %></strong>
        <%- end %>
      </div>
      <div class="col-md-3">
        <strong><%= employee.phone1 %></strong> 
      </div>
    </div>
  </div>
  <input type="hidden" name="event[employees][][employee_class]" value="<%= employee.class.to_s %>">
  <input type="hidden" name="event[employees][][employee_id]" value="<%= employee.id %>">
  <input type="hidden" name="event[employees][][id]" value="<%= event_employee ? event_employee.id : nil %>">
  
</div>

