<div class="bs-callout bs-callout-info exam-item" id="<%=exam.id%>">
  <div>
    <div class="row">
      <div class="col-md-12">
        <%= exam.name %>
      </div>
    </div>
  </div>
  <input type="hidden" name="event[exams][][exam_id]" value="<%= exam.id %>">
  <input type="hidden" name="event[exams][][id]" value="<%= event_exam ? event_exam.id : nil %>">
  
</div>

