<%= simple_form_for @event, remote: true do |f| %>
  <div class="row">
    <div class="col-md-9">
      <div class="form-inputs">
        <!-- Hide Inputs -->
        <div class="hide">
          <%= f.input :color, :input_html => { :class => "hide" } %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :company_id, as: :select, collection: @all_companies.map{|c| [c.name, c.id]}, :prompt => 'Selecione opción', :input_html => { :class => "select2" } %> 
          </div>
          <div class="col-md-6">
            <%= f.input :title %>
          </div>
          <div class="col-md-12">
            <%= f.input :description %>
          </div>
          <div class="col-md-6">
            <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
            <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
            <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
          </div>
          <div class="col-md-6">
            <label class="control-label string optional" for="event_pdf_id">Adjuntar Matriz</label>
            <%= f.input :pdf_id, as: :hidden %>

            <%= link_to "Ver PDF", @event.pdf.present? ? @event.pdf.file.url : "", :target => "_blank", :id => "pdf_url_new", :style =>  @event.pdf.present? ? "display:block" : "display:none" %>
            <input id="fileupload" type="file" name="file" data-url="/pdf/create" >
            <div id="progress" class="progress" style="margin-top:10px">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            
          </div>
          <!-- <div class="col-md-6">
            <label class="control-label string optional">Detalles por fecha</label>
          </div> -->
        </div>
        <!-- 
        <%= f.input :description %>
        <!-- 
        <%= f.input :authorization %>
         -->
        
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#" id="tab-details" target="_top">Detalles de Programa</a></li>
          <li role="presentation"><a href="#" id="tab-dates" target="_top">Fechas de Programa</a></li>
        </ul>

        <div id="details">
          <!-- Employees Items -->
          <%= render 'container_doctor' %>        
          <%= render 'container_staff' %>
          <!-- MobileUnits Items -->
          <%= render 'container_car' %>        
          <%= render 'container_van' %>
          <%= render 'container_truck' %>
          <!-- Exams Items -->
          <%= render 'container_exam' %>

          <label id="label-no-details" class="control-label string optional">No se registra detalles</label>
        </div>

        <div id="dates" style="display: none;">
          <%-  start = @event.start.to_datetime %>
          <%-  finish = @event.end.to_datetime %>
          <%- while(start <= finish) do %>
            <%- date = @event.new_record? ? nil : @event.has_date(start) %>
            <div class="row date-row">
              <div class="col-md-4">
                <label class="control-label string optional date-label">
                  <span style="margin-right: 5px" class='glyphicon glyphicon-calendar' aria-hidden='true'></span> 
                  <%= "#{I18n.l(start, format: '%A')}, #{start.strftime('%d-%m-%Y')}" %>
                  </label>
              </div>
              <div class="col-md-8">
                <input type="text" class="date-description" name="event[dates][][description]" value="<%= date.present? ? date.description : start.on_weekend? ? "Día no laboral" : "" %>">
                <input type="hidden" name="event[dates][][date]" value="<%= start %>">
                <input type="hidden" name="event[dates][][id]" value="<%= date.present? ? date.id : "" %>">
              </div>
            </div>
            <%- start += 1.day %>
          <% end %>
        </div>

        
        
      </div>
    </div>
    <div class="col-md-3">
      <label class="control-label string"> Añadir al evento</label>
      <!-- Etiquetas -->
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group">
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class='glyphicon glyphicon-tags' aria-hidden='true'></span> Etiquetas <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <%- EVENT_COLORS.each do |color| %>
              <li><a target="_top" class="color-item" style=<%="background-color:#{color.last}"%> color=<%="#{color.last}"%> href="#"></a></li>            
            <%- end %>
          </ul>
        </div>
      </div>

      <div class="item-separator"></div>
      <!-- Doctores -->
      <%= render 'selector_employee', employees: @all_doctors, name: "Doctores" %>
      <div class="item-separator"></div>
      <!-- Administrativos -->
      <%= render 'selector_employee', employees: @all_staffs, name: "Empleados" %>
      <!-- Separator -->
      <hr class="hr-separator">
      <!-- Autos -->
      <%= render 'selector_unit_mobile', mobile_units: @all_cars, name: "Automóviles" %>
      <div class="item-separator"></div>
      <!-- Furgonetas -->
      <%= render 'selector_unit_mobile', mobile_units: @all_vans, name: "Furgonetas" %>
      <div class="item-separator"></div>
      <!-- Camiones -->
      <%= render 'selector_unit_mobile', mobile_units: @all_trucks, name: "Camiones" %>
      
      <!-- Separator -->
      <hr class="hr-separator">
      <!-- Examenes -->
      <%= render 'selector_exam', exams: @all_exams, name: "Exámenes" %>
      <div class="item-separator"></div>
      


      <%= f.input :status, as: :select, collection: EVENT_STATUS , include_blank: false %>
      
      <label class="control-label string"> Acciones</label>
      <%- unless @event.new_record? %>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group event-btn-group" role="group">
            <%= link_to "<span class='glyphicon glyphicon-print' aria-hidden='true'></span> H. de programa".html_safe, event_path(@event, :format => 'pdf'), :class => "btn btn-primary", :target => "_blank" %>
          </div>
        </div>
        <div class="item-separator"></div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group event-btn-group" role="group">
            <%= link_to "<span class='glyphicon glyphicon-envelope' aria-hidden='true'></span> Enviar Correo".html_safe, send_confirmation_email_events_path(:event_id => @event.id), remote: true, :class => "btn btn-primary", :target => "_blank",data: { confirm: 'Estas seguro de enviar correo?' } %>
          </div>
        </div>
        <div class="item-separator"></div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group event-btn-group" role="group">
            <%= link_to 'Eliminar', event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Estas seguro?' }, remote: true %>
          </div>
        </div>
        <div class="item-separator"></div>
      <% end %>
      <% if (!@event.closed? && (current_user.role?(:admin) || @event.created_by_id == current_user.id)) || @event.new_record? %>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group event-btn-group" role="group">
            <%= f.button :submit, :class => "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
<% end %>



