<div class="bs-callout bs-callout-info mobile-unit-item" id="<%=mobile_unit.id%>">
  <div>
  	<div class="row">
      <div class="col-md-2">
      	<%= mobile_unit.plate %>
      </div>
      <div class="col-md-5">
      	<%= mobile_unit.driver.full_name_and_phone %>
      </div>
      <div class="col-md-5">
      	<%= select_tag "event[mobile_units][][second_driver_id]", options_for_select(@all_drivers.map{|d| [d.full_name, d.id]}, event_mobile_unit ? event_mobile_unit.second_driver_id : nil), :prompt => "Sin asignar" , :class => "position_employee"%>
      </div>
    </div>
    
  </div>
  <input type="hidden" name="event[mobile_units][][mobile_unit_class]" value="<%= mobile_unit.class.to_s %>">
  <input type="hidden" name="event[mobile_units][][mobile_unit_id]" value="<%= mobile_unit.id %>">
  <input type="hidden" name="event[mobile_units][][first_driver_id]" value="<%= mobile_unit.driver.id %>">
  <!-- <input type="hidden" name="event[mobile_units][][second_driver_id]" value=""> -->
  <input type="hidden" name="event[mobile_units][][id]" value="<%= event_mobile_unit ? event_mobile_unit.id : nil %>">

</div>

