<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class='glyphicon glyphicon-road' aria-hidden='true'></span> <%= name %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu cars">
      <li class="search-item">
        <input type="text" name="" placeholder="Buscar" class="text-search">
        <span class='glyphicon glyphicon-search' aria-hidden='true'></span>
      </li>
      <%- mobile_unit_ids = @event.event_mobile_units.map{|e| e.mobile_unit.id.to_i} %>
      <%- mobile_units.each do |car| %>
        <%- overlap_events = @event.is_item_used(car.id, "mobile_units", @event.start, @event.end) %>
        <%- item_class = overlap_events.any? ? "disabled" : mobile_unit_ids.include?(car.id) ? "active" : "" %>
        <li class="<%= item_class %>">
          <%- if item_class == "disabled" %>
            <div class="lock">
              <span class='glyphicon glyphicon-ban-circle' aria-hidden='true'></span>
              <%= car.full_name_with_diver %> 
              <br>
              <%- overlap_events.each do |event| %>
                <span class="msj-disabled">Ocupado en: 
                  <%= link_to(event.last, event_path(event.first),:class => "redirect-open" , :target => "_blank") %>
                </span>
              <% end %>
            </div>
          <%- else %>
            <%= link_to "#{car.full_name_with_diver} <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>".html_safe, item_class == "active" ? remove_mobile_unit_events_path(:mobile_unit_id => car.id) : add_mobile_unit_events_path(:mobile_unit_id => car.id), :remote => true %>
          <%- end %>
        </li>            
      <%- end %>
    </ul>
  </div>
</div>