<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group">
    
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%- if name == "Doctores" %>
        <span class='glyphicon glyphicon-heart' aria-hidden='true'></span><%= name %><span class="caret"></span>
      <% elsif name == "Empleados" %>
        <span class='glyphicon glyphicon-user' aria-hidden='true'></span><%= name %><span class="caret"></span>
      <% end %>
    </button>

    <ul class="dropdown-menu doctors">
      <li class="search-item">
        <input type="text" name="" placeholder="Buscar" class="text-search">
        <span class='glyphicon glyphicon-search' aria-hidden='true'></span>
      </li>
      <%- employee_ids = @event.event_employees.map{|e| e.employee.id.to_i} %>
      <%- employees.each do |employee| %>
        <%- overlap_events = @event.is_item_used(employee.id, "employees", @event.start, @event.end) %>
        <%- item_class = overlap_events.any? ? "disabled" : employee_ids.include?(employee.id) ? "active" : "" %>
        <li class="<%= item_class %>">
          <%- if item_class == "disabled" %>
            <div class="lock">
              <span class='glyphicon glyphicon-ban-circle' aria-hidden='true'></span>
              <%= employee.full_name_and_phone %> 
              <br>
              <%- overlap_events.each do |event| %>
                <span class="msj-disabled">Ocupado en: 
                  <%= link_to(event.last, event_path(event.first),:class => "redirect-open" , :target => "_blank") %>
                </span>
              <% end %>
            </div>
          <%- else %>
            <%= link_to "#{employee.full_name_and_phone} <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>".html_safe, item_class == "active" ? remove_employee_events_path(:employee_id => employee.id) : add_employee_events_path(:employee_id => employee.id), :remote => true %>
          <%- end %>
          
        </li>            
      <%- end%>
        
    </ul>
  </div>
</div>