<div class="btn-group btn-group-justified  role="group" aria-label="...">
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle add-to-event" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class='glyphicon glyphicon-file' aria-hidden='true'></span><%= name %><span class="caret"></span>
    </button>

    <ul class="dropdown-menu exams">
      <li class="search-item">
        <input type="text" name="" placeholder="Buscar" class="text-search">
        <span class='glyphicon glyphicon-search' aria-hidden='true'></span>
      </li>
      <%- exams.each do |exam| %>
        <%- item_class = @event.has_exam(exam.id) ? "active" : "" %>
        <li class="<%= item_class %>">
          <%= link_to "#{exam.full_name} <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>".html_safe, item_class == "active" ? remove_exam_events_path(:exam_id => exam.id) : add_exam_events_path(:exam_id => exam.id), :remote => true %>
        </li>            
      <%- end%>
    </ul>
  </div>
</div>