<style type="text/css">
  th{ height: 8px; }
  td{ height: 8px; }
  .tg  {border-collapse:collapse;border-spacing:0;border-color:#333; width: 100%;}
  .tg td{font-family:Arial, sans-serif;font-size:12px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#333;color:#444;background-color:#F7FDFA;}
  .tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px 1px 0px 1px;;overflow:hidden;word-break:normal;border-color:#333;color:#333;background-color:#D2E4FC;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
  .tg .tg-7dnc{background-color:#D2E4FC;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-ydyv{background-color:#D2E4FC;border-color:inherit;text-align:right;vertical-align:top}
  .tg .tg-quxf{background-color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
  .tg .tg-6gib{background-color:#D2E4FC;font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-jmht{background-color:#D2E4FC;font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-width-50{width: 50%}
</style>
<!-- <img src="http://www.ecua-american.com/wp-content/uploads/2017/12/ecua-american-logo-fin.png" style="margin-bottom: 10px;"> -->
<table class="tg">
  <tr>
    <th class="tg-7btt">HOJA DE ORDEN DE ATENCIÓN ECUAAMERICAN</th>
  </tr>
</table>

<table class="tg">
  <tr>
    <th class="tg-quxf"><%= @event.full_name %></th>
  </tr>
</table>

<table class="tg">
  <tr>
    <th class="tg-7btt">PROGRAMA SE REALIZA EN EMPRESA DE CLIENTE</th>
    <th class="tg-quxf">SI</th>
    <th class="tg-7btt">PROGRAMA A REALIZAR EN MEDICINA OCUPACIONAL</th>
    <th class="tg-quxf">NO</th>
  </tr>
</table>

<table class="tg">
  <tr>
    <th class="tg-7btt tg-width-50">DIRECCIÓN</th>
    <th class="tg-quxf"><%= @event.company.direcction %></th>
  </tr>
</table>

<table class="tg">
  <tr>
    <th class="tg-7btt tg-width-50">PERFIL DE LA EMPRESA</th>
    <th class="tg-quxf"><%= @event.company.sector %></th>
  </tr>
</table>
<table class="tg">
  <tr>
    <th class="tg-7btt tg-width-50">PERSONA Y TELEFONO DEL CONTACTO:</th>
    <th class="tg-quxf"><%= "#{@event.company.contact_name}, " "#{@event.company.contact_email}" %></th>
  </tr>
</table>

<%- if @event.event_dates.any? %>
	<table class="tg">
		<tr>
      <td class="tg-jmht" colspan="6">DETALLE DE PROGRAMA</td>
    </tr>
		<%- @event.event_dates.each do |date| %>
		  <tr>
		    <td class="tg-7btt tg-width-50"><%= date.description  %></td>
		    <td class="tg-quxf"><%= "#{I18n.l(date.date, format: '%A')}, #{date.date.strftime('%d-%m-%Y')}" %></td>
		  </tr>
		<%- end %>
	</table>
<%- end %>

<%- if @staffs.any? %>
	<table class="tg">
		<tr>
      <td class="tg-jmht" colspan="6">PERSONAL ASIGNADO</td>
    </tr>
		<tr>
		  <td class="tg-1wig">CARGO</td>
		  <td class="tg-1wig" colspan="2">NOMBRE EN LETRA LEGIBLE SIN RUBRICA</td>
		  <td class="tg-1wig">TELEFONO</td>
		  <td class="tg-1wig" colspan="2">FIRMA</td>
		</tr>
		<%- @staffs.each do |employee| %>
		  <tr>
		    <td class="tg-quxf"><%= select_name(CARGOS_PERSONAL, employee.position)  %></td>
		    <td class="tg-quxf" colspan="2"><%= employee.employee.full_name if employee.employee%></td>
		    <td class="tg-quxf"><%= employee.employee.phone1 if employee.employee %></td>
		    <td class="tg-quxf" colspan="2"></td>
		  </tr>
		<%- end %>
	</table>
<%- end %>

<%- if @doctors.any? %>
	<table class="tg">
		<tr>
      <td class="tg-jmht" colspan="6">MEDICOS ASIGNADOS</td>
    </tr>
		<tr>
		  <td class="tg-1wig">CARGO</td>
		  <td class="tg-1wig" colspan="2">NOMBRE EN LETRA LEGIBLE SIN RUBRICA</td>
		  <td class="tg-1wig">TELEFONO</td>
		  <td class="tg-1wig" colspan="2">FIRMA</td>
		</tr>
		<%- @doctors.each do |employee| %>
		  <tr>
		    <td class="tg-quxf"><%= select_name(CARGOS_PERSONAL, employee.position)  %></td>
		    <td class="tg-quxf" colspan="2"><%= employee.employee.full_name if employee.employee%></td>
		    <td class="tg-quxf"><%= employee.employee.phone1 if employee.employee %></td>
		    <td class="tg-quxf" colspan="2"></td>
		  </tr>
		<%- end %>
	</table>
<%- end %>


<%- if @cars.any?%>
	<table class="tg">
		<tr>
		  <td class="tg-jmht" colspan="6">AUTOMÓVILES</td>
		</tr>
		<tr>
		  <td class="tg-1wig">PLACA</td>
		  <td class="tg-1wig" colspan="2">CONDUCTOR</td>
		  <td class="tg-1wig" colspan="3">CONDUCTOR SUPLENTE</td>
		</tr>

		<%- @cars.each do |car| %>
		  <tr>
		    <td class="tg-quxf"><%= car.mobile_unit.plate  %></td>
		    <td class="tg-quxf" colspan="2"><%= car.mobile_unit.driver.full_name_and_phone if car.mobile_unit.driver %></td>
		    <td class="tg-quxf" colspan="3"><%= car.second_driver_id.present? ? car.second_driver.full_name_and_phone : "" %></td>
		  </tr>
		<%- end %>
	</table>
<%- end %>

<%- if @vans.any?%>
	<table class="tg">
		<tr>
		  <td class="tg-jmht" colspan="6">FURGONETAS</td>
		</tr>
		<tr>
		  <td class="tg-1wig">PLACA</td>
		  <td class="tg-1wig" colspan="2">CONDUCTOR</td>
		  <td class="tg-1wig" colspan="3">CONDUCTOR SUPLENTE</td>
		</tr>
		<%- @vans.each do |car| %>
		  <tr>
		    <td class="tg-quxf"><%= car.mobile_unit.plate  %></td>
		    <td class="tg-quxf" colspan="2"><%= car.mobile_unit.driver.full_name_and_phone if car.mobile_unit.driver %></td>
		    <td class="tg-quxf" colspan="3"><%= car.second_driver_id.present? ? car.second_driver.full_name_and_phone : "" %></td>
		  </tr>
		<%- end %>

	</table>
<%- end %>

<%- if @trucks.any?%>
	<table class="tg">
		<tr>
		  <td class="tg-jmht" colspan="6">CAMIONES</td>
		</tr>
		<tr>
		  <td class="tg-1wig">PLACA</td>
		  <td class="tg-1wig" colspan="2">CONDUCTOR</td>
		  <td class="tg-1wig" colspan="3">CONDUCTOR SUPLENTE</td>
		</tr>
		<%- @trucks.each do |car| %>
		  <tr>
		    <td class="tg-quxf"><%= car.mobile_unit.plate  %></td>
		    <td class="tg-quxf" colspan="2"><%= car.mobile_unit.driver.full_name_and_phone if car.mobile_unit.driver %></td>
		    <td class="tg-quxf" colspan="3"><%= car.second_driver_id.present? ? car.second_driver.full_name_and_phone : "" %></td>
		  </tr>
		<%- end %>
	</table>
<%- end %>

<%- if @exams.any?%>
	<table class="tg">
		<tr>
		  <td class="tg-jmht" colspan="3">PERFIL DE EXAMENES A REALIZAR</td>
		</tr>
		<tr>
		  <td class="tg-1wig">PERFIL DE EXAMENES</td>
		  <!-- <td class="tg-1wig">ESPECIALIDADES</td>
		  <td class="tg-1wig">IMAGÉN</td> -->
		</tr>
		<%- @exams.each do |exam| %>
		  <tr>
		    <td class="tg-quxf"><%= "#{exam.exam.code.to_s} #{exam.exam.name}"  %></td>
		    <!-- <td class="tg-quxf"></td>
		    <td class="tg-quxf"></td> -->
		  </tr>
		<%- end %>
	</table>
<%- end %>


<table class="tg">
	<tr>
	  <td class="tg-1wig" style="text-align: center;">
	  	<br />
	  	_____________________________
	  	<br />
	  	SUBGERENTE
	  	<br />
	  	MARIA DEL LOURDES AVILA
		</td>
	  <td class="tg-1wig" style="text-align: center;">
	  	<br />
	  	_____________________________
	  	<br />
	  	AREA TÉCNICA
	  	<br />
	  	DRA. GABRIELA SORIA
	  </td>
	</tr>
	<tr>
	  <td class="tg-1wig" style="text-align: center;">
	  	<br />
	  	_____________________________
	  	<br />
	  	COORDINACIÓN DE TRANSPORTE
	  	<br />
	  	PRISCILA CARRANZA
		</td>
	  <td class="tg-1wig" style="text-align: center;">
	  	<br />
	  	_____________________________
	  	<br />
	  	COORDINACIÓN DE MEDICINA OCUPACIONAL
	  	<br />
	  	GERARDO OJEDA
	  </td>
	</tr>
	<tr>
	  <td class="tg-1wig" style="text-align: center;" colspan="2">
	  	<br />
	  	_____________________________
	  	<br />
	  	GERENTE GENERAL
	  	<br />
	  	DRA. SARITA ESPINOSA
	  	
		</td>
	</tr>
</table>

