$("#<%=@employee.class.to_s.downcase%>-container").append("<%= j render(:partial => 'employee_item', :locals => {:employee => @employee, :event_employee => nil}) %>");
$("#<%=@employee.class.to_s.downcase%>-container").find("label").show();
$("#label-no-details").hide();