$("#<%=@mobile_unit.class.to_s.downcase%>-container").append("<%= j render(:partial => 'mobile_unit_item', :locals => {:mobile_unit => @mobile_unit, :event_mobile_unit => nil}) %>");
$("#<%=@mobile_unit.class.to_s.downcase%>-container").find("label").show();
$("#label-no-details").hide();