$("#<%=@exam.class.to_s.downcase%>-container").append("<%= j render(:partial => 'exam_item', :locals => {:exam => @exam, :event_exam => nil}) %>");
$("#<%=@exam.class.to_s.downcase%>-container").find("label").show();
$("#label-no-details").hide();