
<p id="notice"><%= notice %></p>

<br/>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Mis Programas', events_path, class: "btn #{(params[:all].present? || params[:deleted].present?) ? 'btn-default' : 'btn-success'}" %>
    <%= link_to 'Programas Eliminados', events_path(:deleted => true), class: "btn #{params[:deleted].present? ? 'btn-success' : 'btn-default'}" %>
    <%= link_to 'Todos los Programas', events_path(:all => true), class: "btn #{params[:all].present? ? 'btn-success' : 'btn-default'}" %>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">Lista de Programas</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Título</th>
          <th>Creado por</th>
          <th>Responsble</th>
          <th>F. Inicio</th>
          <th>F. Fin</th>
          <th>Estado</th>
          <th style="min-width: 98px">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% if @events.any? %>
          <% @events.each do |event| %>
            <%- date_format = '%Y-%m-%d' %>
            <tr> 
              <td><%= event.full_name %> <%= event.closed? ? '<span class="label label-warning">Cerrado</span>'.html_safe : '' %> </td>
              <td><%= event.created_by ? event.created_by.full_name : "N/A" %></td>
              <td><%= event.owner %></td>
              <td><%= event.start.strftime(date_format) %></td>
              <td><%= event.end.strftime(date_format) %></td>
              <td><%= event.status == 0 ? "Borrado" : select_name(EVENT_STATUS, event.status) %></td>
              <td><%= link_to_show event %>
              <!---
              <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe , "#", class: "btn btn-default btn-xs", :onclick => "edit_event('#{edit_event_path(event)}', '#{event.start}', '#{event.end}'); return false;" %>

              <%= link_to_delete event %>
              -->
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6" style="text-align: center;">No existen registros</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>


