$('#<%=@exam.class.to_s.downcase%>-container').find(".exam-item#<%=@exam.id%>").remove()
if($("#<%=@exam.class.to_s.downcase%>-container").find(".exam-item").length == 0){
	$("#<%=@exam.class.to_s.downcase%>-container").find("label").hide();
}
if($("#details .bs-callout").length == 0){
	$("#label-no-details").show();
}