$('#<%=@employee.class.to_s.downcase%>-container').find(".employee-item#<%=@employee.id%>").remove()
if($("#<%=@employee.class.to_s.downcase%>-container").find(".employee-item").length == 0){
	$("#<%=@employee.class.to_s.downcase%>-container").find("label").hide();
}
if($("#details .bs-callout").length == 0){
	$("#label-no-details").show();
}