$('#<%=@mobile_unit.class.to_s.downcase%>-container').find(".mobile-unit-item#<%=@mobile_unit.id%>").remove()
if($("#<%=@mobile_unit.class.to_s.downcase%>-container").find(".mobile-unit-item").length == 0){
	$("#<%=@mobile_unit.class.to_s.downcase%>-container").find("label").hide();
}
if($("#details .bs-callout").length == 0){
	$("#label-no-details").show();
}