<br/>

<%= render 'show_table' %>
<br/>
<div class="form-actions">


  <%= link_to 'Lista de Eventos', root_path, class: "btn btn-default" %>
  <%= link_to "<span class='glyphicon glyphicon-print' aria-hidden='true'></span> Ver en PDF".html_safe, event_path(@event, :format => 'pdf'), :class => "btn btn-primary", :target => "_blank" %>
</div>


