<!doctype html>
<html>
  <head>
    <title>
      <%= @event.full_name  %>
    </title>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body {
        font-family: 'OpenSansRegular';
        font-size: 12px;
      }
    </style>
  </head>
  <body onload='number_pages'>
    <img src="http://www.ecua-american.com/wp-content/uploads/2017/12/ecua-american-logo-fin.png" style="margin-bottom: 10px; width: 50%">
    
    <%= render(:partial => 'show_table', :formats => [:html])  %>
    

  </body>
</html>