<%- if !@event.errors.any? %>
	$('.calendar').fullCalendar('removeEvents', [<%= @event.id %>]);
	$('.calendar').fullCalendar(
	  'renderEvent', 
	  $.parseJSON("<%=j render(@event, format: :json).html_safe %>"), 
	  true
	);
	$('.modal').modal('hide');
<%- else %>
	errors = "<%= @event.errors.full_messages.join(", ") %>";	
	$('body').before('<div class="event-errors alert alert-danger" role="alert">'+ errors +'</div>');
	$('.event-errors').delay(3000).fadeOut(function() {
  	$(this).remove(); 
	});
<%- end %>

