<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Todos las Configuraciones</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Valor</th>
            <th ></th>
          </tr>
        </thead>
      </thead>
      <tbody>
        <% @settings.each do |setting| %>
          <tr>
            <td><%= setting.name %></td>
            <td><%= setting.value %></td>
            <td>
              <%= link_to 'Ver', setting, class: "btn btn-default btn-xs"  %>
              <%= link_to 'Editar', edit_setting_path(setting), class: "btn btn-default btn-xs"  %>
              <%= link_to 'Eliminar', setting, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-default btn-xs"  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= link_to 'Nueva configuración', new_setting_path, class: "btn btn-default" %>

