<p id="notice"><%= notice %></p>

<p>
  <strong>Event notification email:</strong>
  <%= @setting.event_notification_email %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
