<%= simple_form_for @company, html: {role: "form"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <!-- Company -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :ruc %>
          </div>
          <div class="col-md-12">
            <%= f.input :name %>
          </div>
          <div class="col-md-12">
            <%= f.input :sector, as: :select, collection: SECTOR_COMPANY, :prompt => 'Selecione opción' %> 
          </div>
          <div class="col-md-12">
            <%= f.input :direcction, as: :text %>
          </div>
          <div class="col-md-12">
            <%= f.input :description, as: :text %>
          </div>
        </div>
      </div>
      <!-- Contact Informacion -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :contact_name %>
          </div>
          <div class="col-md-12">
            <%= f.input :contact_email %>
          </div>
          <div class="col-md-12">
            <%= f.input :doctor_name %>
          </div>
          <div class="col-md-12">
            <%= f.input :doctor_email %>
          </div>
         <!--  <div class="col-md-12">
            <%= f.input :billing_name %>
          </div>
          <div class="col-md-12">
            <%= f.input :billing_email %>
          </div> -->
        </div>
      </div>
    </div>
</div>
<div class="form-actions">
  <%= f.button :submit, class: "btn btn-success" %>
  <%= link_to 'Cancelar', cars_path, class: "btn btn-default" %>
</div>
<% end %>

