<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Todos las Empresas</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>RUC</th>
            <!-- <th>Dirección</th> -->
            <th>Sector</th>
            <th>Nombre Contacto</th>
            <th>Nombre Doctor</th>
            <th style="min-width: 98px">Acciones</th>
          </tr>
        </thead>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.ruc %></td>
            <!-- <td><%= company.direcction %></td> -->
            <td><%= company.sector %></td>
            <td><%= company.full_contact_name %></td>
            <td><%= company.full_doctor_name %></td>
            <!-- <td><%= company.billing_name %></td>
            <td><%= company.billing_email %></td>
            <td><%= company.description %></td>
            <td><%= company.text %></td> -->
            <td>
              <%= link_to_show company %>
              <%= link_to_edit company, edit_company_path(company) %>
              <%= link_to_delete company %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= paginate @companies %>
  </div>
</div>
<br>
<%= link_to 'Nueva Empresa', new_company_path, class: "btn btn-default" %>

