<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Empresa</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', company: @company %>
  </div>
</div>

