<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Empresa</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong><%= Company.human_attribute_name("name") %>:</strong>
      <%= @company.name %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("ruc") %>:</strong>
      <%= @company.ruc %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("direcction") %>:</strong>
      <%= @company.direcction if  @company.direcction %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("description") %>:</strong>
      <%= @company.description if  @company.description %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("contact_name") %>:</strong>
      <%= @company.contact_name if  @company.contact_name %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("contact_email") %>:</strong>
      <%= @company.contact_email if  @company.contact_email %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("doctor_name") %>:</strong>
      <%= @company.doctor_name if  @company.doctor_name %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("doctor_email") %>:</strong>
      <%= @company.doctor_email if  @company.doctor_email %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("billing_name") %>:</strong>
      <%= @company.billing_name if  @company.billing_name %>
    </p>

    <p>
      <strong><%= Company.human_attribute_name("billing_email") %>:</strong>
      <%= @company.billing_email if  @company.billing_email %>
    </p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_company_path(@company), class: "btn btn-success" if can? :edit, @company %>
  <%= link_to 'Lista de empresas', companies_path, class: "btn btn-default" %>
</div>



