<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Doctor</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', doctor: @doctor %>
  </div>
</div>