<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">Todos los doctores</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Céluda</th>
          <th>Nombre Completo</th>
          <th>Correo</th>
          <!-- <th>Teléfono</th> -->
          <th>Celular</th>
          <th>Titulo</th>
          <!-- <th>Puesto T.</th> -->
          <th>Departamento</th>
          <th>Disponible</th>
          <th style="min-width: 98px">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.ci %></td>
            <td><%= doctor.full_last_name %></td>
            <td><%= doctor.email.present? ? doctor.email : "N/A" %></td>
            <!-- <td><%= doctor.phone1.present? ? doctor.phone1 : "N/A" %></td> -->
            <td><%= doctor.phone2.present? ? doctor.phone2 : "N/A" %></td>
            <td><%= doctor.degree.present? ? doctor.degree.capitalize : "N/A" %></td>
            <!-- <td><%= doctor.workstation.present? ? doctor.workstation.capitalize : "N/A" %></td> -->
            <td><%= doctor.department.present? ? doctor.department.capitalize : "N/A" %></td>
            <td><%= doctor.available_to_s %></td>
            <td><%= link_to_show doctor %>
            <%= link_to_edit doctor, edit_doctor_path(doctor) %>
            <%= link_to_delete doctor %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'Nuevo Doctor', new_doctor_path, class: "btn btn-default" %>
