<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Doctor</h3>
  </div>
  <div class="panel-body">
    <p>
		  <strong><%= Doctor.human_attribute_name("ci") %>:</strong>
		  <%= @doctor.ci %>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("name") %>:</strong>
		  <%= @doctor.name %>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("lastname") %>:</strong>
		  <%= @doctor.lastname.capitalize if @doctor.lastname %>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("email") %>:</strong>
		  <%= @doctor.email.capitalize if @doctor.email%>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("phone1") %>:</strong>
		  <%= @doctor.phone1 %>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("phone2") %>:</strong>
		  <%= @doctor.phone2 %>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("specialty") %>:</strong>
		  <%= select_name(CARGOS_DOCTOR, @doctor.specialty) if @doctor.specialty %>
		</p>

		<p>
		  <strong><%= Doctor.human_attribute_name("available") %>:</strong>
		  <%= @doctor.available_to_s %>
		</p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_doctor_path(@doctor), class: "btn btn-success" %>
  <%= link_to 'Lista de doctores', doctors_path, class: "btn btn-default" %>
</div>


