<img src="http://www.ecua-american.com/wp-content/uploads/2017/12/ecua-american-logo-fin.png" style="margin-bottom: 10px;">
<h1><%= @event.title %></h1>

<p>
  Programa confirmado para la empresa <%=  @event.company.present? ? @event.company.name : "Sin asignar"  %>
</p>

<p>
  Para ver el programa revisar el siguiente  <%=  link_to "link", event_url(@event, :format => 'pdf', :host => "logistica-ecuaamerican.herokuapp.com") %>
</p>
</br>
<p>
	<i>Logistica Ecua-american</i>
</p>

