<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">Todos los conductores</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Céluda</th>
          <th>Nombre completo</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Celular</th>
          <th>Disponible</th>
          <th>Tipo de Licencia</th>
          <th style="min-width: 98px">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @drivers.each do |driver| %>
          <tr>
            <td><%= driver.ci %></td>
            <td><%= driver.full_last_name %></td>
            <td><%= driver.email.present? ? driver.email : "N/A" %></td>
            <td><%= driver.phone1.present? ? driver.phone1 : "N/A" %></td>
            <td><%= driver.phone2.present? ? driver.phone2 : "N/A" %></td>
            <td><%= driver.available_to_s %></td>
            <td><%= driver.license_type.present? ? driver.license_type.capitalize : "N/A" %></td>
            <td><%= link_to_show driver %>
            <%= link_to_edit driver, edit_driver_path(driver) %>
            <%= link_to_delete driver %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'Nuevo Conductor', new_driver_path, class: "btn btn-default" %>
