<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Conductor</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', driver: @driver %>
  </div>
</div>
