<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Conductor</h3>
  </div>
  <div class="panel-body">
    <p>
		  <strong><%= Staff.human_attribute_name("ci") %>:</strong>
		  <%= @driver.ci %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("name") %>:</strong>
		  <%= @driver.name %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("lastname") %>:</strong>
		  <%= @driver.lastname.capitalize if @driver.lastname %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("email") %>:</strong>
		  <%= @driver.email.capitalize if @driver.email%>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("phone1") %>:</strong>
		  <%= @driver.phone1 %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("phone2") %>:</strong>
		  <%= @driver.phone2 %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("license_type") %>:</strong>
		  <%= @driver.license_type.capitalize if @driver.license_type %>
		</p>

		<p>
		  <strong><%= Staff.human_attribute_name("available") %>:</strong>
		  <%= @driver.available_to_s %>
		</p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_driver_path(@driver), class: "btn btn-success" %>
  <%= link_to 'Lista de conductores', drivers_path, class: "btn btn-default" %>
</div>


