/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require daterangepicker
 *= require_tree .
 *= require_self
 */
.hide{
	display: none;
}
.select2-container{
	width: 100% !important;
  height: 34px !important;
}
.select2-container .select2-selection--single{
	height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 34px !important;
}
.itemhover { background-color:#b7b7b7 !important; color:#232323 !important; }
.itemhover.active a { border: 1px solid #b7b7b7; background-image: none; }

.pagination{
	float: right;
	.next, .last, .first, .prev{
		border-radius: 100px;
		position: relative;
    
    padding: 0.5rem 0.75rem;
    margin-left: 0.5rem;
    line-height: 30px;
    color: #929EAC;
    background-color: #ECEEF0;
    border: 0 solid #dee2e6;
    min-width: 30px;
    height: 30px;
 
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
	}
	
	.page{
		
		a{
			border-radius: 100px;
			position: relative;
	    
	    padding: 0.5rem 0.75rem;
	    margin-left: 0.5rem;
	    line-height: 30px;
	    color: #929EAC;
	    background-color: #ECEEF0;
	    border: 0 solid #dee2e6;
	    min-width: 30px;
	    height: 30px;
	 
	    align-items: center;
	    justify-content: center;
	    line-height: 1.5;
	    padding-top: 0;
	    padding-bottom: 0;
	    font-weight: 600;
		}
		&.current{
			border-radius: 100px;
			position: relative;
	    
	    padding: 0.5rem 0.75rem;
	    margin-left: 0.5rem;
	    line-height: 30px;
	    color: #929EAC;
	    border: 0 solid #dee2e6;
	    min-width: 30px;
	    height: 30px;
	 
	    align-items: center;
	    justify-content: center;
	    line-height: 1.5;
	    padding-top: 0;
	    padding-bottom: 0;
	    font-weight: 600;
			z-index: 1;
	    color: #fff;
	    background-color: #308AF3;
	    border-color: #308AF3;

		}
	} 
}