body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  // &:visited {
  //   color: #666;
  // }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 100%;
  border: 1px solid red;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid transparent;
  border-radius: 4px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    color: #a94442;
    font-size: bold;
  }

  ul {
    padding-left: 24px;
    li {
      font-size: 12px;
      list-style: none;
    }
  }
    
}

label {
  display: block;
}
