// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select:disabled{
   opacity: 0.6;
}
@media (min-width: 768px){
  .modal-dialog {
    width: 75%;
  }  
}

body{
  background-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #c7ffff;
    background-color: #005a66;
  }
  .navbar{
    background-color: #00a4b9;
    border-bottom: 3px solid #005a66;
    .dropdown-menu{
      background-color: #00a4b9;
      padding: 0;
      a{
        padding: 5px 20px;
      }
    }
    li{

    }
    a{
      color: #fff;
      text-shadow: none;
      &:hover{
        color: #c7ffff;
        background-color: #005a66;
        background-image: none;
      }
    }
  }
  #notice{
    margin: 0
  }
  .panel-default{
    margin-top: 20px;
  }
  .panel-default > .panel-heading {
    color: #fff;
    background-color: #005a66;
    border-color: #333;
    background-image: none;

  }
  .footer {
    font-size: 14px;
    line-height: 1.7em;
    color: #cbd3d6;
    background: #37393a;
    min-height: 60px;
    padding: 10px;
  }
}

.event_item_row{
	border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  width: 100%;
  height: 40px;

  .car_item{
  	width: 25%;
  	float: left;
  	select{
  		width: 90%;
  	}
  }
  .employee_item{
  	width: 25%;
  	float: left;
  	select{
  		width: 90%;
  	}
  }
  .authorization_item{
  	width: 35%;
  	float: left;
  }
  .eliminar_item{
  	width: 15%;
  	float: left;
  }
  .bold{
  	font-weight: bold;	
  }
  
}

.modal#new_event, .modal#edit_event{
  .modal-header{
    background-color: #ebeef0;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid #ccc;
    padding: 10px 15px;
  }
  .modal-body{
    background-color: #ebeef0;
    hr{
      border-color: #bbb;
    }
  }
  .nav-tabs{
    border-bottom: 0px;
  }
  #details{
    border: 1px solid #ccc;
    padding: 10px 10px 0px 10px;
  }
  #dates{
    border: 1px solid #ccc;
    padding: 10px 10px 0px 10px;
    .date-row{
      margin-bottom: 5px;
      .date-label{
        // text-align: right;
      }
      .date-description{
        width: 100%;
      }
    }
  }
  #label-no-details{
    font-style: italic;
  }
}

.color-item{
  border: 1px solid #fff;
  margin: 5px 10px;
  border-radius: 3px;
  height: 25px;
  &:hover{
    border: 1px solid #ccc;
  }
}

.item-separator{
  height: 5px;
}
hr.hr-separator{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn.dropdown-toggle, .event-btn-group{
  text-align: left;
  .glyphicon{
    margin-right: 10px;
  }
}

.dropdown-menu.cars, .dropdown-menu.vans, .dropdown-menu.trucks, .dropdown-menu.staffs, .dropdown-menu.doctors, .dropdown-menu.exams{
  margin: 0;
  padding: 0;
  max-height: 320px;
  overflow: auto;
  max-width: 380px;
  min-width: 300px;
  li{
    border-bottom: 1px solid #eee;

    a, div{
      height: 30px;
      padding: 5px 10px;
      margin: 0px;
      &:hover{

      }
    }
    div.lock{
      color: #aaa;
      white-space: nowrap;
      display: table;
      a{
        color: #333;
        font-size: 12px;
        font-style: italic; 
        margin: 0;
        padding-left: 0px;
        &:hover{
          background-color: initial;
        }
      }
    }

    span{
      display: none;
    }
    &.active{
      span{
        display: inline-block;
      }
    }
    &.disabled{
      span.glyphicon{
        display: inline-block;
        color: red;
      }
      span.msj-disabled{
        margin-left: 15px;
        display: inline-block;
        font-size: 12px;
      }
    }
    &.search-item{
      .text-search{
        padding: 5px;
        margin: 5px 5px 5px 5px;
        width: calc(100% - 35px);
      }
      span{
        display: inline-block;
      }
    }
  }
}

.content-container{
  margin-bottom: 10px;
  label.string{
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
    color: #333;
    span.col{
      font-size: 12px;
      color: #666;
    }
    .row.cols{
      margin-top: 5px;
    }
  }

  .bs-callout {
    font-size: 12px;
    padding-bottom: 5px;
    margin: 5px 0;
    border-left-width: 5px;
    border-radius: 3px;
    font-size: 12px;
    border-bottom: 1px solid #bbb;
    h4{
      margin: 0;
    }
    p{
      margin: 0;
    }
    .position_employee{
      margin-right: 10px;
    }
  }  
}



.bs-callout-info {
  border-left-color: #1b809e;
}

.event-errors{
  z-index: 10000;
  position: absolute;
  margin-top: 10px;
  right: 25px;
  font-size: 14px;
}


.calendar{
  margin-top: 20px;
  .fc-center{
    text-transform: capitalize;
  }
  &.lock{
    pointer-events: none;
    opacity: 0.5;
  }
  .event-date{
    display: inline-table;
    white-space: initial;
  }
  .hr-line-solid{
    border: 1px solid;
  }
  .fc-title{
    font-weight: bold;
    font-size: 1em;
  }
  // .fc-time{
  //   display: none;
  // }
}
.lds-spinner {
  color: #333;
  display: none;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 45%;
  right: 45%;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #00a5b9;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
a{
  color: #005a66;
  &:hover{
    color: #333;
    background-color: transparent;
  }
}
.table-container{
  overflow-x: auto;
  .table.panel-events{
    margin-bottom: 0;
    tr{
      td{
        font-size: 12px;
        
      }
    }
  }  
}

.top-menus{
  margin-top: 20px;
}
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0px;
}

.progress {
  height: 5px;
  margin-bottom: 0px;
}
#pdf_url_new{
  float: right;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


