<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Todos los Automoviles</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <thead>
          <tr>
            <th>Placa</th>
            <th>Chofer</th>
            <th>Estado</th>
            <th>Color</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Nro. Pasajeros</th>
            <th style="min-width: 98px">Acciones</th>
          </tr>
        </thead>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= car.plate %></td>
            <td><%= car.driver ? car.driver.full_name : "No asignado" %></td>
            <td><%= car.status_name %></td>
            <td><%= car.color.capitalize %></td>
            <td><%= car.company.capitalize %></td>
            <td><%= car.model.capitalize %></td>
            <td><%= car.year %></td>
            <td><%= car.capacity %></td>
            <td>
              <%= link_to_show car  %>
              <%= link_to_edit car, edit_car_path(car) %>
              <%= link_to_delete car %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= link_to 'Nuevo Automóvil', new_car_path, class: "btn btn-default" %>