<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Automóvil</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', car: @car %>
  </div>
</div>
