<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Automóvil</h3>
  </div>
  <div class="panel-body">
    <p>
		  <strong><%= Car.human_attribute_name("plate") %>:</strong>
		  <%= @car.plate %>
		</p>

		<p>
		  <strong><%= Car.human_attribute_name("driver") %>:</strong>
		  <%= @car.driver ? @car.driver.full_name : "No asignado" %>
		</p>

		<p>
		  <strong><%= Car.human_attribute_name("color") %>:</strong>
		  <%= @car.color.capitalize %>
		</p>

		<p>
		  <strong><%= Car.human_attribute_name("company") %>:</strong>
		  <%= @car.company.capitalize %>
		</p>

		<p>
		  <strong><%= Car.human_attribute_name("model") %>:</strong>
		  <%= @car.model.capitalize %>
		</p>

		<p>
		  <strong><%= Car.human_attribute_name("year") %>:</strong>
		  <%= @car.year %>
		</p>

  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_car_path(@car), class: "btn btn-success" %>
  <%= link_to 'Lista de automóviles', cars_path, class: "btn btn-default" %>
</div>


