<%= simple_form_for @exam, html: {role: "form"} do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <!-- Company -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :code %>
          </div>
          <div class="col-md-12">
            <%= f.input :name %>
          </div>
          <div class="col-md-12">
            <%= f.input :activated %>
          </div>
        </div>
      </div>
      <!-- Contact Informacion -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :province_value %>
          </div>
          <div class="col-md-12">
            <%= f.input :m_units_value %>
          </div>
          <div class="col-md-12">
            <%= f.input :city_value %>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="form-actions">
  <%= f.button :submit, class: "btn btn-success" %>
  <%= link_to 'Cancelar', exams_path, class: "btn btn-default" %>
</div>
<% end %>
