<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Todos los Exámenes</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Activado</th>
            <th>Precio provincia</th>
            <th>Precio unidad móvil</th>
            <th>Precio ciudad</th>
            <th style="min-width: 98px">Acciones</th>
          </tr>
        </thead>
      </thead>
      <tbody>
        <% @exams.each do |exam| %>
          <tr>
            <td><%= exam.code %></td>
            <td><%= exam.name %></td>
            <td><%= exam.activated_to_s %></td>
            <td><%= exam.province_value %></td>
            <td><%= exam.m_units_value %></td>
            <td><%= exam.city_value %></td>
            <td>
              <%= link_to_show exam %>
              <%= link_to_edit exam, edit_exam_path(exam) %>
              <%= link_to_delete exam %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= paginate @exams %>
  </div>
</div>
<br>
<%= link_to 'Nuevo Examen', new_exam_path, class: "btn btn-default" %>

