<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Examen</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', exam: @exam %>
  </div>
</div>

