
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos Examen</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong><%= Exam.human_attribute_name("code") %>:</strong>
      <%= @exam.code %>
    </p>

    <p>
      <strong><%= Exam.human_attribute_name("name") %>:</strong>
      <%= @exam.name %>
    </p>

    <p>
      <strong><%= Exam.human_attribute_name("activated") %>:</strong>
      <%= @exam.activated_to_s %>
    </p>

    <p>
      <strong><%= Exam.human_attribute_name("province_value") %>:</strong>
      <%= @exam.province_value if  @exam.province_value %>
    </p>

    <p>
      <strong><%= Exam.human_attribute_name("m_units_value") %>:</strong>
      <%= @exam.m_units_value if  @exam.m_units_value %>
    </p>

    <p>
      <strong><%= Exam.human_attribute_name("city_value") %>:</strong>
      <%= @exam.city_value if  @exam.city_value %>
    </p>


    


  </div>
</div>


<div class="form-actions">
  <%= link_to 'Editar', edit_exam_path(@exam), class: "btn btn-success" %>
  <%= link_to 'Lista de exámenes', exams_path, class: "btn btn-default" %>
</div>




