<%# add navigation links to this file %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span style="margin-right: 5px" class='glyphicon glyphicon-road' aria-hidden='true'></span> 
    Vehículos <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="<%= cars_path%>">Automóviles</a></li>
    <li><a href="<%= vans_path%>">Furgonetas</a></li>
    <li><a href="<%= trucks_path%>">Camiones</a></li>
  </ul>
</li>


<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span style="margin-right: 5px" class='glyphicon glyphicon-user' aria-hidden='true'></span> 
    Personal <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="<%= drivers_path%>">Conductores</a></li>
    <li><a href="<%= staffs_path%>">Empleados</a></li>
    <li><a href="<%= doctors_path%>">Doctores</a></li> 
  </ul>
</li>

<li>
  <a href="<%= companies_path%>">
    <span style="margin-right: 5px" class='glyphicon glyphicon-briefcase' aria-hidden='true'></span>
    Empresas
  </a>
</li>

<li>
  <a href="<%= exams_path%>">
    <span style="margin-right: 5px" class='glyphicon glyphicon-file' aria-hidden='true'></span>
    Exámenes
  </a>
</li>

<%- if current_user.role?(:admin) %>  
  <li>
    <a href="<%= users_registrations_path%>">
      <span style="margin-right: 5px" class='glyphicon glyphicon-lock' aria-hidden='true'></span>
      Usuarios
    </a>
  </li>
<%- end %>  



<!-- <li><a href="#">Empresas</a></li> -->
