<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Logistica Ecua-american" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Template" %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>    
    <main role="main">
      <div class='container'>
        <%= render 'layouts/messages' %>
        <div class="row">
          
          <% if user_signed_in? %>
            <div class="col-md-2">
              <img src="/images/ecua-american-logo-fin.png">
            </div>
            <div class="col-md-10">
              <ol class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <!-- <li><a href="#">Library</a></li> -->
                <%- if @breadcrumb.any? %>
                  <%- @breadcrumb.each do |item| %>
                    <li><a href="<%= item[1]%>"><%= item[0]%></a></li>
                  <% end %>
                <% else %>  
                  <li class="active">Todos los programas</li>
                <% end %>
              </ol>
            </div>
          <% else %>
            <div class="col-md-12">
              <img src="/images/ecua-american-logo-fin.png">
            </div>
          <% end %>
        </div>
        <div class="row">
          <% if user_signed_in? %>
            <div class="col-md-2">
              <%= render "visitors/table_menu", title: "Menu", events: @weekly_events %>
            </div>
            <div class="col-md-10">
              <%= yield %>
            </div>
          <% else %>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <%= yield %>
            </div>
            <div class="col-md-4">
            </div>
          <% end %>
          
        </div>
        
        <div id='remote_container'></div>
      </div>
    </main>

    <div class="footer">
      <div class="footer__right">
        <p>
          © 2019 EcuaAmerican. Todos los Derechos Reservados. Sitio web desarrollado por Algorithmic Code
        </p>
      </div>
    </div>

    <%= yield :javascript_includes %>
  </body>
</html>
