<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">Lista de Programas</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Rol</th>
          <th>Activo</th>
          <th style="min-width: 98px">Acciones</th>
        </tr>
      </thead>
      <!-- new_user_registration_path -->
      <tbody>
        <% if @users.any? %>
          <% @users.each do |user| %>
            <%- date_format = '%Y-%m-%d' %>
            <tr> 
              <td><%= user.email %></td>
              <td><%= select_name(ROLES, user.role) %></td>           
              <td><%= user.active.present? ? "Si" : "No" %></td>
              <td>
                <% unless user.active %>
                  <%= link_to '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>'.html_safe , users_registrations_active_user_path(:id => user.id), class: "btn btn-default btn-xs" %>
                <% else %>
                  <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe , users_registrations_desactive_user_path(:id => user.id) , class: "btn btn-default btn-xs" %>
                <% end %>
                <%= link_to '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>'.html_safe , users_registrations_reset_password_path(:id => user.id) , class: "btn btn-default btn-xs", data: { confirm: 'Estas seguro de restaurar la clave?' } %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6" style="text-align: center;">No existen registros</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<%= link_to 'Nuevo Usuario', users_registrations_new_user_path, class: "btn btn-default" %>

