<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('.title', resource: resource_class.model_name.human) %></h3>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'user-form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :email %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>
              <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
            </p>
          <% end %>

          <div class="col-md-12">
            <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
            <br/>
          </div>

          <div class="col-md-12">
            <%= f.input :role, as: :select, collection: ROLES, :include_blank => false %> 
            <br/>
          </div>
          
          <div class="col-md-12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control" %>
            <br/>
          </div>

          <div class="col-md-12">
            <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i>
            <%= f.password_field :current_password, :class => "form-control" %>
            <br/>
          </div>

        </div>
      </div>

      

      <div>
        <%= f.submit t('.update'), class: "btn btn-success" %>
        <%= link_to 'Cancelar', root_path, class: "btn btn-default" %>
      </div>

    <% end %>

    <!-- <h3><%= t('.cancel_my_account') %></h3>

    <p><%= t('.unhappy') %> <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p> -->

    
  </div>
</div>
