<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('.title', resource: resource_class.model_name.human) %></h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for @user, url: users_registrations_create_user_path, :html => {:class => 'user-form'} do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :email %>
          </div>

          <div class="col-md-12">
            <%= f.input :password %>
            <br/>
          </div>

          <div class="col-md-12">
            <%= f.input :role, as: :select, collection: ROLES_USER, :include_blank => false %> 
            <br/>
          </div>
          

        </div>
      </div>

      <div>
        <%= f.submit t('.update'), class: "btn btn-success" %>
        <%= link_to 'Cancelar', root_path, class: "btn btn-default" %>
      </div>

    <% end %>
    
  </div>
</div>
